<header class="navbar">
  <nav class="navbar__navigation">
    <div class="navbar__logos-container">
      <a href="#" class="navbar__logo">MeetUps</a>
      <div class="navbar__logos">
        <img
          src="../../../assets/images/logo-philosophy.svg"
          alt="ИТ Философия"
          class="navbar__logo-philosophy"
        />
        <img
          src="../../../assets/images/logo-liga.svg"
          alt="Лига Цифровой Экономики"
          class="navbar__logo-liga"
        />
      </div>
    </div>
    <div class="navbar__menu menu">
      <a class="menu__item" href="#">Все митапы</a>
      <a class="menu__item" href="#">Мои митапы</a>
      <a class="menu__item" href="#">Пользователи</a>
    </div>
    <a href="#" class="navbar__user"
      ><img
        src="../../../assets/images/logo-authorization.svg"
        alt="Иконка авторизации"
        class="navbar__logo-authorization"
    /></a>
  </nav>
</header>
