<header class="navbar">
  <nav class="navbar__navigation">
    <div class="navbar__logos-container">
      <a href="#" class="navbar__logo">MeetUps</a>
      <div class="navbar__logos">
        <img
          src="../../../assets/images/logo-philosophy.svg"
          alt="ИТ Философия"
          class="navbar__logo-philosophy"
        />
        <img
          src="../../../assets/images/logo-liga.svg"
          alt="Лига Цифровой Экономики"
          class="navbar__logo-liga"
        />
      </div>
    </div>
    <div class="navbar__menu menu">
      <a
        class="menu__item"
        routerLink="/meetups"
        routerLinkActive="active"
        *ngIf="isAuth"
        >Все митапы</a
      >
      <a
        class="menu__item"
        routerLink="/myMeetups"
        routerLinkActive="active"
        *ngIf="isAuth"
        >Мои митапы</a
      >
      <a
        class="menu__item"
        routerLink="/userList"
        routerLinkActive="active"
        *ngIf="isAuth && isAdmin"
        >Пользователи</a
      >
    </div>
    <div>
      <a class="navbar__user"
        ><img
          src="../../../assets/images/logo-authorization.svg"
          alt="Иконка авторизации"
          class="navbar__logo-authorization"
          *ngIf="!isAuth"
      /></a>
      <a href="" class="navbar__user"
        ><img
          src="../../../assets/images/logo-logout.svg"
          alt="Иконка выхода"
          class="navbar__logo-logout"
          *ngIf="isAuth"
          (click)="logout()"
      /></a>
    </div>
  </nav>
</header>
